@import 'assets/styles/mixins.scss';

.login {
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: rem(40);
  overflow-y: auto;
  flex: 0;
  background-color: #fff;
  transition: background-image 1s linear;

  &.fullscreen {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }

  &.windowed {
    min-height: 1200px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(50);

  @media screen and (max-width: $sm-max-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
}

.logo {
  max-width: rem(150);
  max-height: rem(50);
  flex-shrink: 0;

  img {
    max-width: 100%;
    height: auto;
  }
}

.styleControls {
  margin-right: auto;
  margin-left: rem(20);

  @media screen and (max-width: $xxl-max-width) {
    order: 1;
    width: 100%;
    margin-left: 0;
    margin-top: rem(10);
  }

  @media screen and (max-width: $sm-max-width) {
    text-align: center;
  }
}

.content {
  margin: auto;
  max-width: rem(500);
  width: 100%;
}

.form {
  padding: rem(50) rem(40) rem(20);
  border-radius: 10px;
  overflow: hidden;
  background-color: $white;
  position: relative;
  margin: 0 auto;
}

.user {
  text-align: center;
  font-size: rem(26);
}
