@import 'assets/styles/mixins.scss';

.stepsContent {
  border: none;
  min-height: initial;
  background: none;
  margin-top: rem(30);
  margin-bottom: rem(30);
  padding-top: 0;
  text-align: left;
}

.stepsAction {
  margin-top: 0;
}
